@media (max-width: 400px) {
    .message-container {
        padding: 36px;
    }
    .fa{
        display: flex;
        justify-content: end;
        margin-top: -25%;
        margin-right: 2%;
      }
  }

@media (max-width: 992px) {
    .message-container {
        padding: 36px;
    }
    .fa{
        display: flex;
        justify-content: end;
        margin-top: -25%;
        margin-right: 2%;
      }
  }
  


body {

    font-family: Arial, sans-serif;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    margin: 0;

    background-color: #f7f7f7;

    background-image: url('../../../assets/background.jpg');

    background-repeat: no-repeat;

    background-size: cover;

}


.message-container {

    text-align: center;

    background-color: #fff;

    padding: 72px;

    border-radius: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.message-container h1 {

    color: #007BFF;

    font-size: 42px;

    margin-bottom: 32px;

}


.message-container a {

    display: inline-block;

    color: #fff;

    background-color: rgba(77, 77, 77, 0.7);

    text-decoration: none;

    padding: 10px 20px;

    margin-top: 32px;

    border-radius: 30px;

    font-size: 16px;

    transition: background-color 0.3s;

    cursor: pointer;

}


.message-container a:hover {

    background-color: #fff;
    color: rgba(77, 77, 77, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

}


.fa{
    display: flex;
    justify-content: end;
    margin-top: -7%;
    margin-right: 2%;
  }

