<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mudar Palavra-Passe</title>
</head>

<body>

    <div class="message-container">

        <h1>Mudar Palavra-Passe</h1>
        <form [formGroup]="newPasswordForm">

            <div class="form-outline mb-4">
                <input formControlName="password" [type]="type" id="form2Example11" class="form-control"
                    placeholder="Insira aqui a sua password" />
                <span (click)="hideShowPass()" style="cursor: pointer;" class="fa {{eyeIcon}}"></span>
            </div>
            <small
                *ngIf="newPasswordForm.controls['password'].dirty && newPasswordForm.hasError('required', 'password')"
                class="text-danger">*É necessário preencher este campo. </small>

            <div class="form-outline mb-4">
                <input formControlName="confirmPassword" [type]="type" placeholder="Confirme a sua password"
                    id="form2Example22" class="form-control">
                <span (click)="hideShowPass()" style="cursor: pointer;" class="fa {{eyeIcon}}"></span>
            </div>
            <small
                *ngIf="newPasswordForm.controls['confirmPassword'].dirty && newPasswordForm.hasError('required', 'confirmPassword')"
                class="text-danger">*É necessário preencher este campo.</small>

            <a (click)="newPassword()">Enviar</a>

        </form>
    </div>

</body>

</html>