<div class="AllContent">
    <div class="header">
        <div class="imgHeader">
            <div class="application_title">
                <a href="#">
                    <img class="logoImg" alt="Tabela Terapeutica" src="../../assets/SemFundo_Branco.png">
                </a>
            </div>
        </div>
    </div>
    <div class="MainContent">
        <div class="content-base">
            <span class="Heading2 page-title">Termos e condições de utilização da Tabela Terapeutica
            </span>
            <div class="inner-margin bottom5">
                <div class="margin-top20 margin-bottom15">
                    <span class="Heading3">1.Objeto</span>
                </div>
            </div>
        </div>
    </div>
</div>
