<!DOCTYPE html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z3C35DCBD2"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <div class="container">
    <div class="cabecalho">
      <div id="barraCabecalho" class="barraCabecalho">
        <div class="imagemLogo" (click)="reloadPage()">
        </div>
        <mat-form-field class="searchBar">
          <input class="searchInput" type="search" placeholder="Pesquisar Tabelas" aria-label="Search" matInput
            [(ngModel)]="searchText" (input)="onSearch()" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" class="searchAutocomplete">
            <mat-option *ngFor="let result of searchResults" [value]="result" (click)="showTable(result)">{{ result
              }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div class="d-flex align-items-center">
          <a href="/profile" class="btn btn-outline-secondary d-flex align-items-center" *ngIf="isLoggedIn">
            <i class="fas fa-user-circle mr-2" *ngIf="isLoggedIn"></i> Perfil
          </a>
          <div class="btn-group ml-2">
            <button routerLink="/login" (click)="logout()" type="button" class="btn btn3-outline-secondary">
              <i class="fas fa-sign-out-alt mr-2"></i> Sair</button>
          </div>
        </div>
      </div>
      <div class="toggle-btn">
        <i class="fa-solid fa-bars" (click)="toggleDropdown()"></i>
      </div>
      <div class="dropdown_menu" #dropdownMenu>
        <a href="/profile">Perfil</a>
        <a href="/login" (click)="logout()">Sair</a>
      </div>
      <mat-form-field class="searchBarPhone">
        <input class="searchInput" type="search" placeholder="Pesquisar Tabelas" aria-label="Search" matInput
          [(ngModel)]="searchText" (input)="onSearch()" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" class="searchAutocomplete">
          <mat-option *ngFor="let result of searchResults" [value]="result" (click)="showTable(result)">{{ result
            }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="input-group">
      <div class="popUp">
        <button type="submit" class="btn2 popUpButton" (click)="openDialog()">Ajuda</button>
      </div>
      <form (submit)="handleSubmit()" class="formTable">
        <textarea [(ngModel)]="textareaValue" name="Prescricao" id="pres1" type="text" class="form-control1"
          style="color: rgb(110, 110, 110);"
          placeholder="Exemplo: &#10;&#10;Ácido acetilsalicílico 100mg 1 ao almoço, Bisoprolol 5mg 1 ao pequeno-almoço, Ramipril 2.5mg 1 ao pequeno-almoço + 1 ao jantar &#10;&#10;OU &#10;&#10; Ácido acetilsalicílico 100mg 1id, Bisoprolol 5mg 1id, Ramipril 2.5mg 2id">

        </textarea>
        <div class="btn2-group ml-2">
          <button type="submit" class="btn2 btn2-outline-secondary">Gerar Documento</button>
        </div>
      </form>
    </div>


    <section id="pre_visualizacao" class="pre_visualizacao">
      <div id="documento" class="documento">
        <div class="printHeader">

          <div class="printHeaderText">
            <img *ngIf="tableId" class="imgPrintHeader" src="../../../assets/LogoheaderPrint.png" alt="">
            <div class="headerBlock">
              <p *ngIf="medicName" class="tableIdPrint">Dr(a). {{ medicName }}</p>
              <p *ngIf="tableId" class="tableIdPrint">ID: {{ tableId }}</p>
              <p *ngIf="date" class="tableIdPrintData"> {{ date }}</p>
            </div>

          </div>
        </div>
        <div class="btn-group ml-2">
          <button *ngIf="tableId" (click)="onRowClick()" type="button" class="btn4-outline-secondary">
            <i class="fa-regular fa-pen-to-square"></i> Editar</button>
        </div>
        <ng-container>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="page-break-inside:auto" #elRef>
            <ng-container matColumnDef="comprimido">
              <th mat-header-cell class="header" *matHeaderCellDef style="width: 300px;"> Comprimido </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.comprimido">
                </ng-container>
                <ng-template class="element" #showValue>

                    {{ element.comprimido }}
            
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="jejum">
              <th mat-header-cell class="header" *matHeaderCellDef> Jejum </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.jejum">
                </ng-container>
                <ng-template class="element" #showValue>
                  {{ element.jejum }}
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="peqAlmoco">
              <th mat-header-cell class="header" *matHeaderCellDef> P. Almoço </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.peqAlmoco">
                </ng-container>
                <ng-template class="element" #showValue>
                  {{ element.peqAlmoco }}
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="almoco">
              <th mat-header-cell class="header" *matHeaderCellDef> Almoço </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.almoco">
                </ng-container>
                <ng-template class="element" #showValue>
                  {{ element.almoco }}
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="lanche">
              <th mat-header-cell class="header" *matHeaderCellDef> Lanche </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.lanche">
                </ng-container>
                <ng-template class="element" #showValue>
                  {{ element.lanche }}
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="jantar">
              <th mat-header-cell class="header" *matHeaderCellDef> Jantar </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.jantar">
                </ng-container>
                <ng-template class="element" #showValue>
                  {{ element.jantar }}
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="deitar">
              <th mat-header-cell class="header" *matHeaderCellDef> Ao deitar </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.deitar">
                </ng-container>
                <ng-template class="element" #showValue>
                  {{ element.deitar }}
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="notas">
              <th mat-header-cell class="header" *matHeaderCellDef> Notas </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="isEditMode; else showValue">
                  <input class="editTableInput" [(ngModel)]="element.notas">
                </ng-container>
                <ng-template class="element" #showValue>
                  {{ element.notas }}
                </ng-template>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="page-break-inside:avoid; page-break-after:auto"></tr>
          </table>
        </ng-container>

        <br>

        <p id="data"></p>

        <div class="btn2-group ml-2 d-flex align-items-center">
          <button (click)="printTable()" type="button" class="btn2 btn2-outline-secondary">Imprimir</button>
          <button mat-raised-button (click)="saveTable()" type="button" class="btn2 btn2-outline-secondary">Guardar
            Tabela</button>
        </div>

        <div class="footer2">
          <p>&copy; 2023 Tabela Terapeutica. Juntos por melhores resultados! <br>Visite o nosso Website:
            www.tabelaterapeutica.pt</p>
        </div>
      </div>

    </section>

    <ng-container *ngIf="">
      <p>No data available.</p>
    </ng-container>
  </div>

  <div class="footer" style="background-color: #677F88;">
    <div class="footerContainer">
      <div class="footerRow">
        <div class="footer-col">
          <h4>A empresa</h4>
          <ul>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Politica de Privacidade</a></li>
            <li><a href="#">Termos e condições</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Ajuda</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li class="footerEmail"><a class="footerEmail"
                href="mailto:suporte@tabelaterapeutica.pt">suporte&#64;tabelaterapeutica.pt</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Siga-nos</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/tterapeutica/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/TTerapeutica"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/tabelaterapeutica/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



</html>